---

---
<div class=" w-screen flex flex-col items-center justify-center">
    <a class="no-underline py-3 px-5 mt-5 border border-black" href="/suhas">go to suhas</a>
    <h1 class="text-3xl my-5 uppercase font-extrabold">this is my title</h1>
    <div class="font-bold text-vuejs-110 w-96 ">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. V alias, consequuntur optio saepe placeat, esse omnis commodi iusto enim amet at dolorem corrupti aperiam expedita tempora modi pariatur molestias.
    </div>
</div>
