---

---
<div class=" w-screen">
    <div class="font-bold text-red-500 w-96 m-auto">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel rerum alias, consequuntur optio saepe placeat, esse omnis commodi iusto enim amet at dolorem corrupti aperiam expedita tempora modi pariatur molestias.
    </div>
</div>
