---

---

<main class="p-5">
    <h1 class="text-center text-lg text-green-400">hello world</h1>

    <div class="w-full h-10 bg-violet-200 border-violet-400 border-2 rounded-md my-4 p-2">
        <p class="text-center font-mono font-extrabold">a div</p>
    </div>
</main>

