---

---
<div class=" w-screen flex flex-col items-center justify-center">
    <h1 class="text-3xl my-5 uppercase font-extrabold">this is my title</h1>
    <div class="font-bold text-red-500 w-96 ">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel rerum alias, consequuntur optio saepe placeat, esse omnis commodi iusto enim amet at dolorem corrupti aperiam expedita tempora modi pariatur molestias.
    </div>
</div>
