<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800">
 <div class="relative bg-red-500 rounded-lg w-32 h-32">
  div
 </div>
</div>

<!-- </div> -->
 