<!-- <div class=" w-screen flex flex-col items-center justify-center"> -->
    <!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div>
    header
</div>
    <div class="parent flex flex-row-reverse">
    
        <div class="flex ">
            main content
        </div>
        <div class="flex  flex-col">
            <div>
                side content
            </div>
            <div>
                footer
            </div>
        </div>
        
    </div>
    
<!-- </div> -->