<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="parent">
  <div>header</div>
  <div class="flex">
    <div class="basis-2/12">main content</div>
    <div class="basis-6/12">side content</div>
    <div class="basis-4/12">another content</div>
  </div>
</div>

<!-- </div> -->
