<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="parent">
  <div>header</div>
  <div class="flex flex-col md:flex-row justify-between ">
    <div class="">side content</div>
    <div class="">main content</div>
    <div class="">another content</div>
  </div>
</div>

<!-- </div> -->
