<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800 text-white">
    <button class="ring focus:ring-2 ring-neutral-400 focus:ring-red-500">button 2</button>
</div>

<!-- </div> -->
