<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800 text-white">
    <button class="outline outline-offset-2 outline-4">button 2</button>
</div>

<!-- </div> -->
