<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800 text-white">
    <input type="text" class="border-2 border-none border-red-500">
</div>

<!-- </div> -->
