<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800 text-white">
    <div class="divide-x divide-green-500 flex">
        <div>1</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
    </div>
</div>

<!-- </div> -->
