<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="parent">
  <div>header</div>
  <div class="flex items-baseline ...">
    <div class="pt-2 pb-6 w-4 bg-sky-500">1</div>
    <div class="pt-8 pb-12 w-4 bg-red-500">2</div>
    <div class="pt-12 pb-4 w-4 bg-green-600">3</div>
  </div>

</div>

<!-- </div> -->
