<!-- <div class=" w-screen flex flex-col items-center justify-center"> --><!-- <a class="no-underline py-3 px-5 mt-5 border border-black" href="/">go back</a> -->
<div class="h-screen parent bg-slate-800">
    <div class="container  flex">
        <div class="z-40 p-3 border border-white-500 rounded-full">01</div>
        <div class="z-30 p-3 border border-white-500 rounded-full">02</div>
        <div class="z-20 p-3 border border-white-500 rounded-full">03</div>
        <div class="z-10 p-3 border border-white-500 rounded-full">04</div>
        <div class="z-00 p-3 border border-white-500 rounded-full">05</div>
    </div>
</div>

<!-- </div> -->
 